{{>site-header}}
  <h1>Tags!</h1>
  <div class="page-content">
    {{#each pages}}
      <h2><a href="{{ basename }}{{ ext }}">{{ data.title }}</a></h2>
      {{#markdown}}
        {{ page }}
      {{/markdown}}
    {{/each}}
    {{#each tags}}
      {{ tag }}
    {{/each}}
    <p><a href="../index.html">Home</a></p>
  </div>
{{>site-footer}}
